* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Extra Bold';
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2");
  src: url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.intro {
  padding: 77px 0 80px;
  background: linear-gradient(224.92deg, rgba(19, 19, 51, 0.18) 17.19%, rgba(40, 39, 74, 0.81) 81.74%), url(../img/header-bg.png);
  text-align: center;
}

.logo {
  background: url(../img/logo.svg);
  width: 75px;
  height: 73px;
  display: block;
  margin: 0 auto 195px;
}

.offer__title {
  font-family: "Open Sans Extra Bold";
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.22em;
  margin-bottom: 10px;
}

.offer__descr {
  font-family: "Open Sans Regular";
  font-size: 20px;
  color: #fff;
  letter-spacing: 0.05em;
  margin-bottom: 34px;
}

.offer__btn {
  background-color: #FF3773;
  padding: 18px 0;
  margin: 0 auto 239px;
  display: block;
  width: 244px;
  color: #fff;
  font-family: "Open Sans Extra Bold";
  font-size: 16px;
  text-decoration: none;
}

.arrow-down {
  display: block;
  margin: 0 auto;
  width: 18px;
  height: 27px;
  transition: all 0.1s ease;
}

.arrow-down:hover {
  filter: invert(44%) sepia(49%) saturate(6737%) hue-rotate(322deg) brightness(101%) contrast(101%);
}
