*
    box-sizing: border-box
body, h1, h2, h3, p, ul, li
    margin: 0
    padding: 0

a
    text-decoration: none
    transition: all 0.5s ease
img
    max-width: 100%
    display: block
.container
    width: 1110px
    margin: 0 auto
.title
    font-family: $MS700
    font-size: 36px
    color: #323232
    &_service
        max-width: 739px
        line-height: 1.47em
        margin: 0 auto
        text-align: center
        margin-bottom: 32px
    &_standarts
        line-height: 1.47em
        margin-bottom: 22px
    &_projects
        max-width: 350px
        margin: 0 auto 40px
        text-align: center
    &_video
        color: #fff
        margin-bottom: 30px
.mini-title
    font-family: $MS700
    font-size: 18px
    color: #000
    &_create,
    &_subscribe
        margin-bottom: 13px
    &_footer
        margin-bottom: 25px

.btn
    background-color: #4985FF
    font-family: $MS500
    font-size: 16px
    border-radius: 30px
    color: #fff
    width: 200px
    display: block
    padding: 13px 0
    text-align: center
    &_header,
    &_service,
    &_projects
        margin: 0 auto
        &:hover
            background-color: #1905FF
    &_subscribe
        border-radius: 0 30px 30px 0
        cursor: pointer
        transition: all 0.5s ease
        border: none
        &:hover
            background-color: #1905FF
.descr,
.info__descr
    font-family: $MS400
    font-size: 16px
    color: #999
    &_service,
    &_projects,
    &_video
        line-height: 1.56em
        margin: 0 auto 60px
    &_service
        max-width: 700px
    &_projects
        max-width: 730px
        
    &_video
        color: #fff
    &_create
        line-height: 1.38em
    &_standarts,
    &_subscribe-news,
    &_subscribe
        line-height: 1.56em
        margin-bottom: 20px
    &_subscribe
        font-size: 13px
    
    
        