body
    overflow-x: hidden
    position: relative
h1, h2, h3, h4, p
    margin: 0
.title
    font-family: $RM
    font-size: 55px
    line-height: 110%
    letter-spacing: 0.02em
    &_new-collection
        font-size: 40px
        margin-bottom: 92px
    &_features,
    &_dream
        font-size: 40px
        margin-bottom: 92px
.descr
    font-family: $RR
    font-size: 20px
    line-height: 140%
    letter-spacing: 0.02em
    
    &_offer
        margin-top: 45px
        max-width: 385px
        text-align: right
    &_footer
        font-size: 15px
        margin-top: 9px
    &_rights-reserved
        font-size: 13px
        &:not(:last-child)
            margin-bottom: 6px
    &_bottom
        font-size: 13px
        transition: all 1s ease
        &:not(:last-child)
            margin-bottom: 10px
        &:hover
            border-bottom: 1px solid #CEDEDF
.subdescr
    font-family: $RM
    font-size: 15px
    line-height: 140%
    letter-spacing: 0.02em
    &_price
        color: #9C9C9C
        &:nth-child(1)
            text-decoration: line-through
            margin-right: 10px
    &_dream
        margin-bottom: 20px
    &_crumbs
        font-size: 17px
        &:last-child
            color: #909090
    &_how-much-isShown
        &-top,
        &-bottom
            font-size: 17px
            color: #808080
            margin-top: 92px
            margin-bottom: 65px
        &-bottom
            margin-top: 0
    &_brand
        &:nth-child(2)
            margin-bottom: 25px
    &_contacts
        margin-bottom: 19px
    &_cart,
    &_total
        font-size: 17px
        padding-left: 0
    &_total
        margin-bottom: 28px
    &_customer-order
        font-size: 17px
        margin-bottom: 30px
        &:last-child
            margin-bottom: 15px
    &_checkbox
        font-size: 17px
    &_successed
        font-size: 17px
    &__cart-table-price
        text-align: center    
.subtitle
    font-family: $RM
    font-size: 20px
    letter-spacing: 0.02em
    &_new-collection
        text-align: center
        margin-top: 24px
        margin-bottom: 7px
    &_feature
        font-size: 25px
        line-height: 140%
        margin-top: 37px
        margin-bottom: 24px
    &_dream
        margin-bottom: 28px
    &_brand
        font-size: 25px
        margin-bottom: 46px
    &_form
        font-size: 25px
        margin-bottom: 62px
    &_sum
        line-height: 66px
    &_checkout-form,
    &_checkout-order
        font-size: 25px
        margin-bottom: 47px
    &_customer-good,
    &_customer-order-total
        margin-bottom: 30px
    &_payment-way
        font-size: 25px
        margin-bottom: 47px
    &_successed
        font-size: 25px
        margin-bottom: 17px

img
    max-width: 100%
    display: block
button
    border: none
    outline: none
    background-color: #fff
    cursor: pointer
input,
textarea
    border: none
    outline: none


p
    margin: 0
.btn
    background-color: $CTA
    color: #fff
    padding: 0
    &_open-shop,
    &_brand,
    &_make-order,
    &_place-order
        //width: 214px
        height: 100%
        transition: all 0.5s ease
        &:hover
            background-color:#509498
    &_make-order
        //width: 236px
        height: auto
        padding: 22px 16px
    &_place-order
        width: 246px
        height: auto
        padding: 22px 49px
    &_brand
        width: 260px
        padding: 22px 50px
        margin: 0 auto
    &_order-call
        width: 351px
        font-size: 17px
        padding: 22px 107px
        transition: all 0.5s ease
        &:hover
            background-color:#509498
    &_open-shop
        padding-left: 16px
        padding-right: 16px
    &_close-response,
    &_collection-open-shop,
    &_apply-coupon,
    &_update-cart,
    &_successed
        background-color: #fff
        color: $CTA
        font-size: 17px
        padding: 22px 49px
        border: 1px solid $CTA
        transition: all 0.5s ease
        &:hover
            background-color: $CTA
            color: #fff
    &_successed
        text-align: center
    &_apply-coupon
        //width: 248px
    &_update-cart
        //width: 254px
    &_collection-open-shop
        width: 243px
        margin: 0 auto
    &_dream
        background: none
        color: $CTA
        margin-top: 28px
        margin-bottom: 5px
        transition: all 0.5s ease
        border-bottom: 1px solid #fff
        &:hover
            border-bottom: 1px solid #CEDEDF
    &_pagination-nav
        font-size: 17px
.navigation-intro,
.navigation-dream
    height: 4px
    padding-right: 0
    padding-left: 0
    margin-bottom: 0
.navigation__item
    width: 30px
    height: 4px
    cursor: pointer
    &:not(:first-child)
        margin-left: 12px
.navigation-intro
    margin-top: 126px
    .navigation__item
        background-color: #D1D1D1
        &_active
            background-color: #000
.navigation-dream
    position: absolute
    bottom: 208px
    .navigation__item
        background: rgba(255, 255, 255, 0.36)
        &_active
            background-color: #fff

    

    
        
            
        

