@font-face 
    font-family: 'Ubuntu Bold'
    src: url('../fonts/Ubuntu-Bold.eot')
    src: url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/Ubuntu-Bold.woff2') format('woff2')
    src: url('../fonts/Ubuntu-Bold.woff') format('woff')
    src: url('../fonts/Ubuntu-Bold.ttf') format('truetype')
    font-weight: 700
    font-style: normal
    font-display: swap


@font-face 
    font-family: 'Ubuntu Regular'
    src: url('../fonts/Ubuntu-Regular.eot')
    src: url('../fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/Ubuntu-Regular.woff2') format('woff2')
    src: url('../fonts/Ubuntu-Regular.woff') format('woff')
    src: url('../fonts/Ubuntu-Regular.ttf') format('truetype')
    font-weight: 400
    font-style: normal
    font-display: swap


