@font-face
  font-family: 'Gill Sans MT Regular'
  src: url("../fonts/GillSansMT.eot")
  src: url("../fonts/GillSansMT.eot?#iefix") format("embedded-opentype")
  src: url("../fonts/GillSansMT.woff2") format("woff2")
  src: url("../fonts/GillSansMT.woff") format("woff")
  src: url("../fonts/GillSansMT.ttf") format("truetype")
  font-weight: 400
  font-style: normal
  font-display: swap


@font-face 
  font-family: 'Gill Sans MT Bold'
  src: url("../fonts/GillSansMT-Bold.eot")
  src: url("../fonts/GillSansMT-Bold.eot?#iefix") format("embedded-opentype")
  src: url("../fonts/GillSansMT-Bold.woff2") format("woff2")
  src: url("../fonts/GillSansMT-Bold.woff") format("woff")
  src: url("../fonts/GillSansMT-Bold.ttf") format("truetype")
  font-weight: 700
  font-style: normal
  font-display: swap


@font-face 
  font-family: 'Lato Regular'
  src: url("../fonts/Lato-Regular.eot")
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype")
  src: url("../fonts/Lato-Regular.woff2") format("woff2")
  src: url("../fonts/Lato-Regular.woff") format("woff")
  src: url("../fonts/Lato-Regular.ttf") format("truetype")
  font-weight: 400
  font-style: normal
  font-display: swap
