footer
    min-height: 215px
    background-color: #593710
    width: 100%
    position: relative
    span
        font-family: $R400
        font-size: 14px
        color: #fff
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        