.footer
    padding-top: 247px
    padding-bottom: 100px
    &-menu
        &-item
            &__title
                font-family: $GSB
                font-size: 12px
                color: $text-color
                text-transform: uppercase
                margin-bottom: 19px
                letter-spacing: 0.1em 
            &__list
                padding-left: 0
                li
                    list-style-type: none
                    &:not(:last-child)
                        margin-bottom: 12px
                    a
                        font-family: $GSR
                        font-size: 16px
                        color: #8C8F94
.menu-item-1
    margin-left: 18px
.menu-item-2
    margin-left: 27px
.menu-item-3
    margin-left: 34px
.appstore
    margin-left: 9px
    &__img
        width: 100%
        margin-bottom: 27px
    &__descr
        font-family: $GSR
        font-size: 14px
        color: #8C8F94
        margin-bottom: 28px
        line-height: 1.4rem