.footer
    background-color: #F7F6F8
    padding-top: 50px
    padding-bottom: 50px
    &-list
        &:nth-child(2)
            min-width: 242px
        &:last-child
            margin-top: 41px
            .footer-list-title
                margin-bottom: 16px
        &-descr
            font-size: 13px
            margin-top: 23px   
    &-wrapper
        display: flex
        justify-content: space-between
        margin-bottom: 42px
        flex-wrap: wrap
    &-list-title
        font-family: $Ubuntu-700
        font-size: 19px
        color: #000
        margin-bottom: 41px
.links-list
    display: flex
    justify-content: space-between
    margin-top: 82px
    width: 100%
    a
        font-size: 14px
        color: #FF4975
.list-wrapper
    &__link
        display: flex
        justify-content: flex-start
        margin-bottom: 25px
        font-size: 14px
        color: #000
        &:last-child
            margin-bottom: 0
        img
            margin-right: 17px
form
    position: relative
    input
        padding-top: 13px
        padding-bottom: 15px
        padding-left: 33px
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25)
        border-radius: 30px
        border: 1px solid #F2F2F2
        min-width: 385px
        min-height: 45px
        outline: none
    button
        background-color: #FF4975
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25)
        border-radius: 100px
        width: 45px
        height: 45px
        cursor: pointer
        border: none
        padding: 10px
        position: absolute
        right: 0
.rights-reserved
    font-size: 14px