.header
    background: linear-gradient(57.79deg, rgba(247, 249, 186, 0.37) 27.19%, rgba(43, 44, 37, 0.29) 81.02%), url('../img/header-bg.png') no-repeat center center / cover
    &-wrapper   
        text-align: center
    padding-bottom: 70px
.main-title
    font-family: $Ubuntu-700
    font-size: 48px
    color: #DEFF59
    line-height: 1.20em
    margin-bottom: 34px       
.menu-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    letter-spacing: 0.1em
    margin-bottom: 29px
.logo
    width: 75px
    height: 42px
.list
    display: flex
    justify-content: space-between
    align-items: center
    &__item
        a
            padding: 33px 18px 
            font-size: 16px
            color: #fff
            border-bottom: 2px solid rgba(255,255,255,0.0)
            transition: all 0.5s ease
            &:hover
                border-bottom: 2px solid #fff
.phone
    font-family: $Ubuntu-700
    font-size: 17px
    color: #fff
.arrow-down
    width: 16px
    height: 24px
    margin: 0 auto
    transition: all 0.4s ease
    &:hover
        filter: invert(48%) sepia(44%) saturate(655%) hue-rotate(239deg) brightness(99%) contrast(93%)
        
    
        