.header
    background: url("../img/header-bg.png") no-repeat center (center / cover)
    padding-top: 50px
    max-height: 1001px
    overflow: hidden
    &-logo
        display: flex
        justify-content: flex-start
        align-items: center
        padding-left: 0
        margin-left: 189px
    &-content
        margin-top: 101px
        margin-bottom: 56px
        text-align: center
        &__title
            font-family: "Gill Sans MT Bold"
            font-size: 62px
            color: $text-color
            width: 100%
            margin-bottom: 31px
            padding-left: 29px
        &__descr
            font-family: "Gill Sans MT Regular"
            font-size: 20px
            color: #8C8F94
            margin: 0 auto
            width: 91%
    &-list
        margin-left: -59px
        justify-content: space-around
        display: flex
        align-items: center
        margin-bottom: 0
.contacts-list
    display: flex
    align-items: center
    margin-bottom: 0
    justify-content: space-between
    padding-left: 55px
    padding-right: 6px
    &__item
        &:nth-child(1)
            margin-right: 10px
            

.header-list__item,
.contacts-list__item
    list-style-type: none

.header-list__item a, .contacts-list__item a
  font-family: "Gill Sans MT Regular"
  font-size: 16px
  color: $text-color

.gamburger
    display: flex
    align-items: center

.apple-link
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #267DF4
    border-radius: 50px 50px 50px 50px
    margin-left: auto
    padding: 12px 25px 12px 17px
    max-width: 133px

.watch-video
    font-family: "Lato Regular"
    font-size: 16px
    color: $text-color
    padding-left: 35px
    padding-right: 35px
    width: 210px
    height: 51px
    display: flex
    justify-content: space-around
    align-items: center
    border: 2px solid $text-color
    border-radius: 30px 30px 30px 30px
    margin-bottom: 55px