.header
    background-color: #1326CE
    padding-top: 77px
    padding-bottom: 173px
    &__logo
        font-family: $OS800
        font-size: 16px
        color: #fff
        text-transform: uppercase
        text-decoration: none
    &__link
        font-family: $OS400
        font-size: 15px
        color: #fff
        text-decoration: none
        &::after
            display: block
            content: ""
            height: 1px
            background-color: rgba(255, 255, 255, 0.24)
    &__title
        font-family: $OS800
        font-size: 80px
        color: #fff
        text-transform: uppercase
        margin-bottom: 49px
    &-images
        width: 568px
        display: flex
        justify-content: space-between
        margin-bottom: 40px
        &__item
            display: block
            max-width: 100%
    &__article
        padding: 26px 37px 29px 26px
        background-color: #0E20BF
        border-radius: 10px
        max-width: 510px
    &__order-title
        font-family: $OS700
        font-size: 18px
        color: #fff
        margin-bottom: 8px
    &__descr
        font-family: $OS400
        font-size: 15px
        color: #fff
        line-height: 132.9%
