.lists
    width: 100%
    background-color: #FFF5EB
    min-height: 621px
    padding-top: 100px
    padding-bottom: 100px
    .lists__header
        margin-bottom: 79px
        text-align: center
    .wrapper
        display: flex
        align-items: flex-start
        .images
            display: flex
            justify-content: center
            align-items: center
            img
                max-width: 100%
                display: block
            .first__img
                margin-right: 29px
    .numbers
        max-width: 370px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin-right: 33px
        
        .numbers__item
            list-style-type: none
            margin-bottom: 29px
            display: flex
            justify-content: space-between
            align-items: flex-start
            
            span
                width: 53px
                height: 53px
                border: 1px solid #AAAAAA
                border-radius: 100%
                padding: 20px
                font-family: $R900
                font-size: 20px
                color: #000
                display: flex
                justify-content: center
                align-items: center
                
            .num__content
                padding-left: 24px
                
                h4
                    margin-bottom: 10px
                p
                    line-height: 21px
            
            