.mobile-menu
    padding: 40px 20px
    margin: 0
    display: flex
    position: fixed
    flex-direction: column
    justify-content: center
    right: 0
    z-index: 5
    top: 0
    background-color: #fff
    transform: translateX(100%)
    transition: all 0.5s ease
    &__item
        &:not(:last-child)
            margin-bottom: 15px
        a
            color: #000
            font-family: $RB
            font-size: 15px
            line-height: 140%
            letter-spacing: 0.02em
            transition: all 0.5s ease
            &:hover
                color: $CTA
            &.mobile-item-active
                color: $CTA
.x
    position: absolute
    width: 20px
    height: 20px
    top: 10px
    right: 20px
    cursor: pointer
    text-align: center
    color: #000

.slicknav-btn
    background-color: $CTA
    color: #fff
    font-size: 14px
    border-radius: 5px
    outline: none
    border: none
    cursor: pointer
    transition: all 0.5s ease
    padding-left: 10px
    padding-right: 10px
    &:hover
        background-color:#509498
@media (min-width: 1400px)
    .photo-wrapper__second-photo,
    .photo-wrapper__third-photo
        display: block
@media (max-width: 1399.99px)
    .photo-wrapper__second-photo,
    .photo-wrapper__third-photo
        display: none
@media (max-width: 1400px)
    .title_offer
        font-size: 40px
@media (max-width: 1399.99px)
    .photo-wrapper
        width: 605px    
@media (max-width: 1199.99px)
    .header,
    .footer
        padding-top: 20px
    .header-sticky
        padding-top: 20px
        padding-bottom: 20px
    .logo
        img
            margin-right: 5px
            margin-left: 10px
    .bottom-menu-list
        padding-left: 52px
    .photo-wrapper
        width: 505px
        &__main-photo
            width: 310px
            margin-right: 0
    .title_offer
        font-size: 35px
        text-align: right
    .descr_offer
        font-size: 16px
        max-width: 100%
    .navigation-intro
        margin-top: 60px
    .header-sticky .header-menu-list
        margin-top: 10px
        margin-bottom: 10px
@media (max-width: 991.99px)
    .footer
        padding-bottom: 20px
        &-contacts
            margin-top: 20px
    .bottom-menu-list
        margin-top: 20px
    .photo-wrapper
        width: 405px
        &__main-photo
            width: 260px
            margin-right: 0


    .title_offer
        font-size: 25px
        text-align: right
    .descr_offer
        font-size: 14px
        max-width: 100%
    .navigation-intro
        margin-top: 60px
    .intro
        padding-top: 90px
        &-buttons
            width: 260px
            height: 47px
    
@media (max-width: 767.99px)
    .form
        width: 400px
        padding-bottom: 30px
        &__title
            font-size: 21px
        &__input
            width: 259px
    .response__title
        font-size: 21px
    .btn
        &_order-call
            width: 259px
            margin-top: 20px
            padding-left: 60px
            padding-right: 60px
        &_close-response
            width: 259px
    .response
        width: 400px
        padding-bottom: 30px
    .photo-wrapper
        width: 805px
        left: 0
        &__main-photo
            margin-left: 10px
    .offer-wrapper
        z-index: 1    
        &__main-photo
            width: 170px
            margin-left: 210px
    .title_offer
        font-size: 20px
    .descr_offer
        font-size: 12px
    .btn
        &_open-shop
            font-size: 14px
    .navigation-intro
        margin-top: 25px
        z-index: 1
    .intro
        &-buttons
            margin-top: 20px
            z-index: 1
@media (max-width: 575.99px)
    .logo
        font-size: 14px
        margin-bottom: 20px
    .cart
        width: 20px
        height: 25px
        margin-left: 5px
    .phone
        font-size: 14px
    .slicknav-btn
        font-size: 12px
    .mobile-menu
        &__item
            a
                font-size: 14px
    .footer .phone
        text-align: center
    .bottom-menu-list
        padding-left: 20px
    .footer-contacts
        padding-right: 20px
    .all-rights-reserved
        margin-top: 20px
    .bottom-menu-list
        &__item
            &:not(:last-child)
                margin-bottom: 10px
    .form
        width: 250px
        &__title
            font-size: 16px
        &__input
            width: 200px
            margin-left: auto
            margin-right: auto
            &[placeholder]
                font-size: 13px
    .response__title
        font-size: 14px
    .btn
        &_order-call
            width: 200px
            margin-left: auto
            margin-right: auto
            padding-left: 20px
            padding-right: 20px
        &_close-response
            width: 200px
    .response
        width: 250px
    #name-error,
    #email-error,
    #phone-error
        font-size: 11px
    #name-error
        top: 165px
    #email-error
        top: 240px
    #phone-error
        top: 316px
    .intro
        &-buttons
            margin-top: 20px
            margin-left: auto
            margin-right: auto
    .photo-wrapper
        display: flex
        justify-content: center
        width: 100%
        height: 620px
        &__main-photo
            width: 170px
            margin-top: 80px
            margin-left: 0
    .offer-wrapper
        margin-top: 360px
    .title_offer,
    .descr_offer
        text-align: center
        
    .descr_offer
        margin-top: 15px
        width: 300px
        margin-left: auto
        margin-right: auto
    .intro
        padding-top: 0
            