.mobile-menu
    padding: 40px 20px
    margin: 0
    display: flex
    position: fixed
    flex-direction: column
    justify-content: center
    right: 0
    z-index: 5
    top: 0
    background-color: #fff
    transform: translateX(100%)
    transition: all 0.5s ease
    &__item
        &:not(:last-child)
            margin-bottom: 15px
        a
            color: #000
            font-family: $RB
            font-size: 15px
            line-height: 140%
            letter-spacing: 0.02em
            transition: all 0.5s ease
            &:hover
                color: $CTA
            &.mobile-item-active
                color: $CTA
.x
    position: absolute
    width: 20px
    height: 20px
    top: 10px
    right: 20px
    cursor: pointer
    text-align: center
    color: #000

.slicknav-btn
    background-color: $CTA
    color: #fff
    font-size: 14px
    border-radius: 5px
    outline: none
    border: none
    cursor: pointer
    transition: all 0.5s ease
    padding-left: 10px
    padding-right: 10px
    &:hover
        background-color:#509498
@media (min-width: 1400px)
    .photo-wrapper__second-photo,
    .photo-wrapper__third-photo
        display: block
@media (max-width: 1399.99px)
    .photo-wrapper__second-photo,
    .photo-wrapper__third-photo
        display: none
@media (max-width: 1400px)
    .title_offer
        font-size: 40px
    
@media (max-width: 1399.99px)
    .photo-wrapper
        width: 605px    
@media (max-width: 1199.99px)
    .header,
    .footer
        padding-top: 20px
    .header-sticky
        padding-top: 20px
        padding-bottom: 20px
    .logo
        img
            margin-right: 5px
            margin-left: 10px
    .bottom-menu-list
        padding-left: 52px
    .photo-wrapper
        width: 505px
        &__main-photo
            width: 310px
            margin-right: 0
    .title_offer
        font-size: 35px
        text-align: right
    .descr_offer
        font-size: 16px
        max-width: 100%
    .navigation-intro
        margin-top: 60px
        margin-bottom: 40px
    .header-sticky .header-menu-list
        margin-top: 10px
        margin-bottom: 10px
    .dream-slider,
    .dream-content
        margin-left: 50px
    //shop
    .goods-tabs
        padding-top: 150px
        &__item
            width: 153px
            text-align: center
            a
                padding: 10px 30px
    .map
        width: 95%
        height: 300px
        margin-left: auto
        margin-right: auto
        margin-bottom: 80px
    .btn_apply-coupon,
    .btn_update-cart,
    .cart-input
        font-size: 14px
    .add
        padding-left: 22px
        padding-right: 22px
    .btn_successed
        padding-left: 22px
        padding-right: 22px
@media (max-width: 991.99px)
    .footer
        padding-bottom: 20px
        &-contacts
            margin-top: 20px
    .bottom-menu-list
        margin-top: 20px
    .photo-wrapper
        width: 405px
        &__main-photo
            width: 260px
            margin-right: 0


    .title_offer
        font-size: 25px
        text-align: right
    .descr_offer
        font-size: 14px
        max-width: 100%
    .navigation-intro
        margin-top: 60px
    .intro
        padding-top: 90px
        &-buttons
            width: 260px
            height: 47px
    .collection-wrapper-item
        &__img
            width: 250px
    .features-wrapper
        &-item
            max-width: 100%
            text-align: center
            
            &__icon
                margin: 0 auto
            &:not(:last-child)
                margin-right: 0
                margin-bottom: 30px
    .about-brand-content
        padding-top: 150px
        
    .dream-content
        margin-top: 30px
    .dream-team
        padding-bottom: 90px
    .navigation-dream
        display: none
    //shop
    .goods-tabs
        &__item
            width: 120px
            text-align: center
            a
                padding: 10px 15px
    .subtitle_brand
        font-size: 20px
        margin-bottom: 20px
    .subdescr_brand
        font-size: 12px
    .subtitle_contacts
        font-size: 14px
    .btn_apply-coupon,
    .btn_update-cart
        padding-left: 22px
        padding-right: 22px
    .total-sum
        span
            &:nth-child(1)
                margin-right: 10px
    .item-descr
        &__options
            margin-left: auto
            margin-right: auto
            text-align: center
            margin-top: 50px
        &__img
            width: 70%
    .btn_successed
        margin-top: 30px      
@media (max-width: 767.99px)
    .form
        width: 400px
        padding-bottom: 30px
        &__title
            font-size: 21px
        &__input
            width: 259px
        &-contacts
            input
                width: 100%
    #message
        width: 100%
    .response__title
        font-size: 21px
    .btn
        &_order-call
            width: 259px
            margin-top: 20px
            padding-left: 60px
            padding-right: 60px
        &_close-response
            width: 259px
    .response
        width: 400px
        padding-bottom: 30px
    .photo-wrapper
        width: 805px
        left: 0
        &__main-photo
            margin-left: 10px
    .offer-wrapper
        z-index: 1    
        &__main-photo
            width: 170px
            margin-left: 210px
    .title_offer
        font-size: 20px
    .descr_offer
        font-size: 12px
    .btn
        &_open-shop
            font-size: 14px
        &_apply-coupon
            margin-top: 20px
            margin-bottom: 20px
        &_make-order
            margin-top: 20px
    .navigation-intro
        margin-top: 25px
        z-index: 1
    .intro
        &-buttons
            margin-top: 20px
            z-index: 1
    .new-collection
        padding-top: 120px
    .dream-slider,
    .dream-content
        margin-left: auto
        margin-right: auto
    .shop-navigation,
    .about-brand,
    .contacts
        margin-top: 120px
        padding-bottom: 50px
        &-content
            padding-top: 80px
            padding-bottom: 50px
            &-item
                &:nth-child(2)
                    margin-top: 80px
                &__descr
                    margin-left: 0
                    margin-right: 0
    .contacts
        padding-top: 0
        &-phone,
        &-email,
        &-address
            text-align: center
    .ideas
        margin-top: 20px
        width: 450px
    .magic
        margin-top: 20px
        width: 450px        
    //shop
    .goods-tabs
        padding-top: 80px
        &__item
            width: 95px
            text-align: center
            a
                padding: 10px 11px
                font-size: 14px
    .subdescr_how-much-isShown-top,
    .subdescr_how-much-isShown-bottom
        font-size: 14px
    .map
        margin-top: 80px
    .subtitle_contacts
        font-size: 12px
    .cart-table
        padding-top: 120px
        padding-bottom: 50px
        //position: relative
        &-header
            border-bottom: none
            padding-bottom: 0
            padding-top: 55px
            // position: absolute
            // top: 24%
            // left: 20%
            //margin-top: 125px
            //width: 100%
        &-content
            // width: 60%
            // position: absolute
            // top: 18%
            // right: 0
            padding-top: 0
        &-price
            .subdescr_cart
                margin-top: 75px
                margin-bottom: 80px
        &-amount
            .descr_cart
                margin-bottom: 80px
    .subdescr__good
        margin-bottom: 145px
    .subdescr__cart-table-price
        margin-bottom: 92px
        text-align-last: left
    .subdescr__amount
        margin-bottom: 92px
    .subdescr_cart
        font-size: 15px
            
        &-descr
            margin-bottom: 80px
        &-price
            margin-bottom: 80px
        &-amount
            margin-bottom: 80px
    .cart-input
        margin-top: 40px 

    .subdescr_cart
        margin-bottom: 0
    .cart-wrapper
        padding-top: 60px
    .coupons,
    .total
        margin-left: auto
        margin-right: auto
    .checkout
        padding-top: 120px
    .title_cart
        font-size: 40px
    .customer-data
        margin-top: 80px
        &-form
            margin-top: 81px
    .title_shop
        font-size: 40px
    .success
        padding-top: 120px
    .order-is-made
        padding-top: 120px
        padding-bottom: 120px
@media (max-width: 575.99px)
    .logo
        font-size: 14px
        margin-bottom: 20px
    .cart
        width: 20px
        height: 25px
        margin-left: 5px
    .phone
        font-size: 14px
    .slicknav-btn
        font-size: 12px
    .mobile-menu
        &__item
            a
                font-size: 14px
    .footer .phone
        text-align: center
    .bottom-menu-list
        padding-left: 20px
    .footer-contacts
        padding-right: 20px
    .all-rights-reserved
        margin-top: 20px
    .bottom-menu-list
        &__item
            &:not(:last-child)
                margin-bottom: 10px
    .form
        width: 250px
        &__title
            font-size: 16px
            margin-top: 15px
            margin-bottom: 20px
        &__input
            width: 200px
            margin-left: auto
            margin-right: auto
            &:not(:last-child)
                margin-bottom: 25px
            &[placeholder]
                font-size: 13px
        &-contacts
            margin-left: auto
            margin-right: auto
            margin-top: 50px
            input
                &[placeholder]
                    font-size: 13px
    .response__title
        font-size: 14px
    .btn
        &_order-call
            width: 200px
            margin-left: auto
            margin-right: auto
            padding-left: 20px
            padding-right: 20px
        &_close-response
            width: 200px
        &_make-order
            margin-left: auto
            margin-right: auto
    .close-icon
        margin-top: 15px
    .response
        width: 250px
    #name-error,
    #email-error,
    #phone-error
        font-size: 11px
    #name-error
        top: 165px
    #email-error
        top: 240px
    #phone-error
        top: 316px
    .intro
        padding-top: 0
        padding-bottom: 50px
        &-buttons
            margin-top: 20px
            margin-left: auto
            margin-right: auto
    .photo-wrapper
        display: flex
        justify-content: center
        width: 100%
        height: 620px
        &__main-photo
            width: 170px
            margin-top: 80px
            margin-left: 0
    .offer-wrapper
        margin-top: 360px
    .title_offer,
    .descr_offer
        text-align: center
    .map
        margin-bottom: 50px  
    .descr_offer
        margin-top: 15px
        width: 300px
        margin-left: auto
        margin-right: auto
  
        
    .new-collection
        padding-top: 0
    .collection-wrapper-item
        &__img
            width: 280px
    .title_new-collection
        font-size: 20px
        margin-bottom: 50px
    .subtitle_new-collection,
    .subtitle_feature,
    .subtitle_dream,
    .subtitle_brand
        font-size: 16px
    .subdescr_feature,
    .subdescr_dream,
        font-size: 12px
    .title_features,
    .title_dream
        font-size: 20px
        margin-bottom: 60px
    .dream-slider
        .slick-prev,
        .slick-next
            display: none
    .features,
    .new-collection
        padding-bottom: 60px
    .btn_dream
        font-size: 14px
    //shop-navigation
    //about-brand
    .shop-navigation,
    .about-brand
        margin-top: 50px
        padding-bottom: 50px
        &-content
            padding-top: 50px
            &-item
                &__img
                    width: 95%
    .ideas,
    .magic
        width: 100%
    .title_shop
        font-size: 40px
    .subdescr_crumbs
        font-size: 14px
    //shop
    .goods-tabs
        &__item
            width: 90px
            text-align: center
            margin-bottom: 15px
            &:not(:last-child)
                margin-right: 15px
            a
                padding: 5px 5px
                font-size: 14px
    .subdescr_how-much-isShown-top
        margin-top: 77px
    .subdescr_how-much-isShown-bottom
        margin-bottom: 20px
    .pagination-nav
        width: 36px
        height: 36px
        text-align: center
        
        a
            font-size: 14px
            padding: 0
            line-height: 36px    
    .contacts-phone,
    .contacts-email
        margin-bottom: 20px
    .subdescr_contacts
        margin-bottom: 10px
    #message[placeholder]
        font-size: 13px
    .subtitle_form
        text-align: center
    .cart-table
        &-header
            padding-top: 65px
        &-descr
            position: absolute
            width: 320px
            left: 50%
            transform: translateX(-50%)
            .subdescr_cart
                position: absolute
                left: 107px
                top: 100%
        &-img
            position: relative        
        &-price
            .subdescr_cart
                margin-top: 230px
                margin-bottom: 80px
        &-amount
            .descr_cart
                margin-bottom: 80px
    .total-sum
        margin-left: auto
        margin-right: auto
        text-align: center
    .cart-input
        text-align: center
    .cart-wrapper
        position: relative
        
    .close-cart-icon
        margin-right: 10px
    .subdescr__good
        visibility: hidden
    .bounded-goods__title
        font-size: 28px
    .bounded-goods
        padding-bottom: 50px
    .btn_successed
        padding-left: 16px
        padding-right: 16px
    .subtitle_successed
        font-size: 16px
    .subdescr_successed
        font-size: 14px