@media (max-width: 1200px)
    .header
        &-img
            margin-left: auto
            margin-right: auto
        &-content
            &-title
                padding-left: 0
    .watch-video
        margin-left: auto
        margin-right: auto
    .contacts-list
        margin-right: 0
        margin-left: 0
    .apple-link
        margin-left: 29px
@media (max-width: 1400px)
    .iphone-feature
        &-item
            &__descr
                min-width: 0
        .container
            max-width: $container-width
    .footer
        padding-top: 60px
@media (max-width: 992px)
    .header
        &-content
            &-title
                font-size: 46px
    .feature
        padding-top: 50px
    .iphone-feature
        padding-top: 50px
        &-item
            &__links
                flex-direction: column
                
                a
                    
                    &:nth-child(1)
                        margin-bottom: 20px
                        padding-left: 0
                        padding-right: 0
                    &:nth-child(2)
                        margin-left: 0
    .map-feature
        padding-top: 50px
        &-item
            &__title
                font-size: 34px
                margin-bottom: 35px
    .appstore
        margin-bottom: 50px
    
    
@media (max-width: 768px)
    .header-logo
        display: none
    .header
        max-height: 900px
        &-content
            &-title
                margin-top: 30px
                font-size: 30px
    .feature
        &-item
            &__descr
                font-size: 14px
    .feature-item-1,
    .feature-item-2
        padding-left: 0
    .iphone-feature
        &-img
            margin-left: 0
        &-item
            &__title
                font-size: 26px
                margin-bottom: 30px
            &__descr
                font-size: 14px
    .map-feature
        &-item
            &__title
                font-size: 26px
            &__descr
                font-size: 14px
    .map
        padding-left: 0
    .footer
        &-menu
            &-item
                &__list
                    li
                        a
                            font-size: 14px
@media (max-width: 576px)
    .feature-item-1
        margin-bottom: 60px
    .iphone-feature
        &-item
            padding-left: 0
    .footer
        padding-bottom: 0
    .menu-item-1,
    .menu-item-2,
    .menu-item-3
        margin-left: auto
        margin-right: auto
        width: 133px
        text-align: center
    .menu-item1,
    .menu-item-2
        margin-bottom: 30px
    

                
                    
                    
                
    
                    
  