.modal
    padding-top: 74px
    &-title
        margin-bottom: 30px
        font-family: $OS300
        font-size: 30px
    &-btn
        font-family: $OS700
        font-size: 16px
        color: #fff
        padding: 14px 37px
        background-color: #FF4D8D
        max-width: 205px
        transition: all 0.5s ease
        &:hover
            color: #fff
            background-color: #DD5D1D
        