.modal-wrapper,
.response-wrapper 
  width: 100%
  height: 100%
  position: fixed
  left: 0
  top: 0
  z-index: 9999999
  display: none
.overlay 
  width: 100%
  height: 100%
  background-color: #000
  opacity: 0.6
  position: absolute
  top: 0
  left: 0

#modal-form,
.response 
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

.response 
  width: 100%
  height: 150px
  text-align: center
  line-height: 150px

.response_success 
  background-color: #aff5b2

.response_fail 
  background-color: #f55a5a

