.slider
    padding: 74px 0 74px
    &-title
        margin-bottom: 30px
        font-family: $OS300
        font-size: 30px
    &-content
        overflow: hidden
        min-height: 345px
        position: relative
        &__item
            font-family: $OS700
            font-size: 16px
            padding: 160px 312px
            border: 1px solid #AFAFAF
            
            flex-shrink: 0
            transition-property: all
            transition-timing-function: ease
            &:nth-child(1)
                background-color: #5BFF4D
            &:nth-child(2)
                background-color: #FCFF50
            &:nth-child(3)
                background-color: #FF505B

    &-wrapper
        position: relative

.arrow-left,
.arrow-right
    position: absolute
    top: 50%
    transform: translateY(-50%)
    transition: all 0.5s ease
    &:hover
        svg
            path
                stroke: #000
.arrow-left
    left: -35px
.arrow-right
    right: -35px
.dots
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: 26px
    &__item
        &:not(:last-child)
            margin-right: 14px
.dot-active
    svg
        rect
            fill: #D0D0D0